<section layout="column">
    <md-input-container  style=padding-bottom:15px;>
        <input ng-model="configuration.inputKey"
               placeholder="{{'tb.rulenode.input-key' | translate}}"
               ng-required="true">
    </md-input-container>
    <md-input-container  style=padding-bottom:15px;>
        <input ng-model="configuration.outputKey"
               placeholder="{{'tb.rulenode.output-key' | translate}}"
               ng-required="true">
    </md-input-container>
</section>
