<section layout="column">
    <label translate class="tb-required">tb.rulenode.device-relations-query</label>
    <tb-device-relations-query-config
        style="padding-bottom: 15px;"
        ng-model="configuration.deviceRelationsQuery">
    </tb-device-relations-query-config>    
    <md-input-container>
        <label translate>tb.rulenode.aggregate-function</label>
        <md-select required ng-model="configuration.aggregateFunction">
            <md-option ng-repeat="func in customRuleNodeTypes.aggregateFunction" ng-value="func">
                {{ func }}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container>
        <input ng-model="configuration.inputKey"
               placeholder="{{'tb.rulenode.input-key' | translate}}"
               ng-required="true">
    </md-input-container>
    <md-input-container>
        <input ng-model="configuration.outputKey"
               placeholder="{{'tb.rulenode.output-key' | translate}}"
               ng-required="true">
    </md-input-container>
</section>
